
/* ----------------------- JQuery validate */
label.error {
	float: none;
	color: red !important;
	padding-left: .5em;
	vertical-align: middle;
	font-size: 12px !important;
	font-weight: 500 !important;
}

/* ----------------------- footer */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* ----------------------- tags */
textarea{
	resize: none;
}

/* --------------------------------------------------------------- ESTILO PARA EL LOADER DENTRO DEL SWWET ALERT 2 */

.loader {
	text-align: center;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Cursor para el grid */
.cursor_pointer{
	cursor: pointer;
}
